Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*,
  readability-*,
  performance-*,
  -modernize-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-magic-numbers.IgnorePowersOf2
    value: '1'